.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color, #f9f9f9);
  padding: 2rem;

  color: var(--color-primary-dark);
  margin-right: 3rem;
  margin-left: 3rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.sign-selector-btns {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.sign-selector {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color, #6e8898);
  color: var(--text-light, #fff);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-selector.active {
  background-color: var(--primary-color, #2e5266);
}

.sign-selector:hover {
  background-color: var(--highlight-color, #e2c044);
}

@media (max-width: 1400px) {
  .sign-container {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
