.carousel {
  display: flex;
  justify-content: center;
  /* width: 90%; */
  /* height: 30%; */
}

.carousel-container {
  max-width: 1500px;
  min-width: 1000px;
  max-height: 1000px;
  min-height: 500px;
  padding: 2rem;
  margin: 2rem;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-arrow {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel-container:hover .carousel-arrow {
  opacity: 1;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 4px;
  z-index: 1;
}

.carousel-arrow-left {
  left: 10px;
}

.carousel-arrow-right {
  right: 10px;
}

@media (max-width: 1150px) {
  .carousel-container {
    max-width: 1200px;
    min-width: 800px;
    max-height: 800px;
    min-height: 400px;
  }
}
@media (max-width: 950px) {
  .carousel-container {
    max-width: 1000px;
    min-width: 600px;
    max-height: 600px;
    min-height: 300px;
  }
}
