.category-container {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 2rem;
  width: 100%;
  border-radius: 1rem;
}

.category-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  min-height: 60rem;
}

h1 {
  margin: 2rem;
}
