.category-preview {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.294);
  border-radius: 8px;
  background-color: var(--color-accent-light-grey);
}

.category-name {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.category-img-cover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.category-name span {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-accent-dark);
}

.listings-preview-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.listings {
  display: flex;
  gap: 1rem;
  flex: 3;
  width: 100%;
  height: 150px;
}

.listing-link {
  text-decoration: none;
  color: inherit;
}

.listing-preview {
  display: flex;
  align-items: center;
  width: 280px;
  padding: 0.75rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.listing-preview:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.listing-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1rem;
}

.listing-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.rating {
  font-weight: bold;
  color: var(--color-accent-dark);
}

.brand,
.title {
  font-size: 0.9rem;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.see-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 150px;
  font-size: 1.5rem;
  color: var(--color-accent-dark-grey);
  background-color: var(--color-accent-light);
  border: none;
  opacity: 0.7;
  cursor: pointer;
  text-decoration: none;
  border-radius: 8px;
  margin-left: 1rem;
  transition: opacity 0.3s ease, background-color 0.2s ease;
}

.see-more-btn:hover {
  opacity: 1;
  background-color: var(--color-accent-grey);
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffcc00;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.listing-preview {
  position: relative;
  border: 1px solid var(--color-accent-light-grey);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.listing-preview:hover {
  transform: translateY(-5px);
}

.price-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cat-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-accent-dark);
}

.cat-original-price {
  text-decoration: line-through;
  color: var(--color-accent-dark);
}

.cat-discounted-price {
  color: #ffcc00;
  font-size: 1.5rem;

  font-weight: bold;
}

@media (max-width: 1150px) {
  .listing-preview {
    width: 250px;
  }

  .listing-img {
    width: 80px;
    height: 80px;
  }

  .brand,
  .title {
    max-width: 120px;
  }
}

@media (max-width: 1000px) {
  .listings {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    height: auto;
  }

  .listing-preview {
    width: 100%;
  }

  .brand,
  .title {
    max-width: 100%;
  }

  .see-more-btn {
    width: 100%;
    height: 50px;
    margin-left: 0;
  }
}
