.category-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 2rem;
  width: 100%;
  border-radius: 1rem;
  box-sizing: border-box;
}

.category-list-container {
  background-color: #f9f9f9;
  width: 100%;
  min-height: 60rem;
}

.product-preview-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.4rem;
}
