.favorites-page {
  display: flex;
  flex-direction: column;
  color: var(--color-primary-dark);
  margin-right: 6rem;
  margin-left: 6rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.favorites-title {
  font-size: 2rem;
  color: var(--color-accent-dark);
  margin-bottom: 1rem;
}

.favorites-empty {
  text-align: center;
  font-style: italic;
  color: #888;
  height: 90vh;
}

.favorites-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
}

@media (max-width: 1500px) {
  .favorites-page {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .favorites-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .favorites-page {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .favorites-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
