/* FilterBox.css */
.filter-box {
  max-width: 30rem;
  min-width: 20rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 0.625rem;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.filter-section {
  margin-bottom: 2rem;
}

.filter-section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.rc-slider {
  margin: 1rem 0;
}
.filter-section div {
  font-size: 1rem;
  color: #555;
}

.filter-section label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filter-section input[type="checkbox"] {
  margin-right: 0.5rem;
}

.filter-section select {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.3125rem;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.filter-section select:focus {
  border-color: #007bff;
  outline: none;
}

.filter-btn {
  display: flex;
  justify-content: center;
}

.filter-btn button {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.filter-btn button:hover {
  background-color: #0056b3;
  transform: translateY(-0.125rem);
}

.filter-btn button:active {
  background-color: #004080;
  transform: translateY(0);
}
