.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #212529;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #f8f9fa;
  margin: 0;
}

.logo:hover {
  color: #ffcc00;
  transition: color 0.3s ease;
}

.links-container {
  display: flex;
  align-items: center;
}

.header-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.header-links li {
  display: inline-block;
}

.link-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.link-container img {
  color: #fff;
}

.link-container:hover .header-link-name {
  color: #ffcc00;
  transition: color 0.3s ease;
}

.header-icons {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transition: transform 0.2s ease;
}

.link-container:hover .header-icons {
  transform: scale(1.1);
}

.header-link-name {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #f8f9fa;
}

.header-link-name:hover {
  color: #ffcc00;
}

.header-navigator {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100vw;
  background-color: var(--color-primary-light);
  color: #fff;
}

.categories-btn,
.onsale-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-accent-dark);
  width: 10rem;
  height: 2rem;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.onsale-btn {
  width: 7rem;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .header-main {
    flex-direction: column;
    padding: 10px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .header-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

.spacer {
  width: 20rem;
}

.categories-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 280px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.categories-btn:hover .categories-dropdown,
.categories-dropdown.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.categories-dropdown ul {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}

.categories-dropdown li {
  padding: 12px 20px;
  border-bottom: 1px solid var(--color-accent-light-grey);
}

.categories-dropdown li:last-child {
  border-bottom: none;
}

.categories-dropdown li:hover {
  background-color: var(--color-accent-light-grey);
  cursor: pointer;
}

.categories-dropdown li a {
  text-decoration: none;
  color: var(--color-accent-dark);
  display: block;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.categories-dropdown li a:hover {
  color: var(--color-accent);
}

.categories-btn,
.onsale-btn {
  position: relative;
  font-size: 1rem;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.categories-btn img {
  margin-left: 8px;
}

.header-navigator {
  position: relative;
  /* z-index: 1000; */
}

.marquee-list {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

.marquee-list:hover {
  color: #ffcc00;
}
