.product-preview-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.product-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1rem;
  width: 18rem;
  min-height: 30rem;
  text-align: center;
}

.product-preview:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-img-container,
.product-image {
  width: 16rem;
  height: 16rem;
  border-top: 4px;
}

.product-preview-details h6 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-accent-dark);
  margin: 1rem 0 0.5rem;
}

.product-preview-details span {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  display: block;
}

.product-preview-details h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-accent-dark);
  margin-bottom: 1rem;
}

.product-preview-btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.product-preview-btns button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  color: #030303;
}
.product-preview-btns button:hover {
  color: #fff;
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffcc00;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.product-img-container {
  position: relative;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.original-price {
  font-size: 1.3rem;
  text-decoration: line-through;
  color: var(--color-accent-dark);
}

.discounted-price {
  color: #ffcc00;
  font-weight: bold;
  font-size: 1.6rem;
}
