.web-settings-container {
  display: flex;

  justify-content: space-around;
}

.web-Settings-content {
  width: 100%;
  margin-left: 0;
  height: auto;
}

.web-settings-sidebar {
  max-width: 30rem;
  min-width: 20rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 0.625rem;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.web-settings-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.web-settings-option {
  padding: 1rem;
  margin: 0.2rem;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 0.3125rem;
  font-size: 1rem;
  color: #555;
}

.web-settings-option:hover {
  background-color: #e2e2e2;
}

.web-settings-option.active {
  background-color: #007bff;
  color: white;
}

@media (max-width: 1200px) {
  .web-settings-container {
    flex-direction: column;
    align-items: center;
  }

  .web-settings-options {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem;
    justify-content: center;
  }

  .web-settings-sidebar {
    max-width: 100rem;
    min-width: 5rem;
    padding: 0;
    width: 100%;
  }

  .web-settings-option {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.3125rem;
    font-size: 1rem;
    color: #555;
  }
}

@media (max-width: 1400px) {
  .web-settings-sidebar {
    margin-left: 5px;
    margin-right: 0;
    padding: 0.4rem;
    min-width: 15rem;
  }
}
